<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{Title}}</title>
    <script src="https://kit.fontawesome.com/004f417883.js" crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='static/style.css') }}" rel="stylesheet">

    <script type="text/javascript">function openSlideMenu() {
            document.getElementById('menu').style.width = '250px';
            document.getElementById('content').style.marginLeft = '250px';
        }

        function closeSlideMenu() {
            document.getElementById('menu').style.width = '0';
            document.getElementById('content').style.marginLeft = '0';
        }
    </script>

    
</head>


<body>
    <div id="content">

            <a href="#" onclick="openSlideMenu()">
                <span class="slide">

                    <i class="fas fa-bars fa-2x"></i>
                </span>
            </a>


        <span class="logo">
            <a href="/">
                <h1>{{title}}</h1>
            </a>
        </span>



        <div id="menu" class="nav">
            <a href="#" class="close" onclick="closeSlideMenu()">
                <i class="fas fa-times"></i>
            </a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/list">Prescription List</a></li>
                <li><a href="#">Call Physician</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>

        <div class="wrapper">
            <font size="+5">{{time}}</font>
            <h2>{{day}}</h2>
            <h2>{{date}}</h2>

            <div class="top_box">
                <a href="/takeMeds">
                    <div class="box">

                        <i class="fas fa-pills fa-7x"></i>
                        <h2>Take Medication</h2>
                    </div>

                </a>
            </div>

            <div class="main_boxes">
                <a href="/list">
                    <div class="box">

                        <i class="fas fa-search fa-7x"></i>
                        <h2>View Medication</h2>
                    </div>
                </a>

                <a href="#">
                    <div class="box">

                        <i class="fas fa-plus-square fa-7x"></i>
                        <h2>Add New Roll</h2>
                    </div>
                </a>

                <a href="/addmeds">
                    <div class="box">

                        <i class="fas fa-prescription-bottle-alt fa-7x"></i>
                        <h2>Add Medication</h2>
                    </div>
                </a>

                <a href="#">
                    <div class="box">

                        <i class="fas fa-cog fa-7x"></i>
                        <h2>Settings</h2>
                    </div>
                </a>


            </div>
            <div class="top_box">
                <a href="/processing">
                    <div class="box">
                        <h2>Click Here to Test Image Processing</h2>
                    </div>

                </a>
            </div>
        </div>
    </div>

</body>
</html>