<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <script src="https://kit.fontawesome.com/004f417883.js" crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='/style.css') }}" rel="stylesheet">

    <script type="text/javascript">function openSlideMenu() {
            document.getElementById('menu').style.width = '250px';
            document.getElementById('content').style.marginLeft = '250px';
        }

        function closeSlideMenu() {
            document.getElementById('menu').style.width = '0';
            document.getElementById('content').style.marginLeft = '0';
        }
    </script>
</head>
<body>
    <div id="content">

            <a href="#" onclick="openSlideMenu()">
                <span class="slide">

                    <i class="fas fa-bars fa-2x"></i>
                </span>
            </a>
        <span class="logo">
            <a href="/">
                <h1>{{title}}</h1>
            </a>
        </span>

        <div id="menu" class="nav">
            <a href="#" class="close" onclick="closeSlideMenu()">
                <i class="fas fa-times"></i>
            </a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/list">Prescription List</a></li>
                <li><a href="#">Call Physician</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>

        <div class="wrapper">
            <font size="+5">{{time}}</font>
            <h2>{{day}}</h2>
            <h2>{{date}}</h2>
            <br />
            
            <table>
                {% for i in header %}
                <tr>
                    {% for j in i %}
                    <th>{{j}}</th>
                    {% endfor %}
                </tr>
                {% endfor %}
                {% for i in output %}
                <tr>
                    {% for j in i %}
                    <td>{{j}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>


    </div>

</body>
</html>