<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="{{ url_for('static', filename='/style.css') }}" rel="stylesheet">

</head>
<body>
    <table>
        {% for i in header %}
        <tr>
            {% for j in i %}
            <th>{{j}}</th>
            {% endfor %}
        </tr>
        {% endfor %}
        {% for i in output %}
        <tr>
            {% for j in i %}
            <td>{{j}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>
